/* Configurações Globais */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100&family=Tiro+Devanagari+Hindi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tiro Devanagari Hindi', serif;
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* Configuração da Header */

body {
    max-width: 1900px;
}

header {
    width: 100%;
    background-image: url(imagens/header_img.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    height: 600px;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1201px) {
    header {
        height: 500px;
    }
}

@media (max-width: 1201px) {
    header {
        height: 400px;
    }
}

@media (max-width: 760px) {
    header {
        height: 300px;
    }
}

@media (max-width: 549px) {
    header {
        height: 200px;
    }
}

/* Imagem Star */

.img_star {
    width: 330px;
    position: absolute;
    left: 18%;
    margin-top: 90px;
}

.img_star img {
    width: 100%
}

@media(max-width: 1171px) {
    .img_star {
        width: 270px;
    }
}

@media (max-width: 1028px) {
    .img_star {
        margin-top: 80px;
        left: 14%;
        width: 270px;
    }
}

@media (max-width: 860px){
    .img_star {
        width: 230px;
    }
}

@media (max-width: 760px) {
    .img_star {
        width: 200px;
    }
}

@media (max-width: 700px) {
    .img_star {
        width: 150px;
    }
}

@media (max-width: 549px) {
    .img_star {
        width: 110px;
        margin-top: 60px;
        left: 18%;
    }
}

@media (max-width: 386px) {
    .img_star {
        left: 10%;
    }
}

/* Imagem Kylo */

.img_kylo {
    width: 1000px;
    height: 750px;
    position: absolute;
    left: 11.7%;
    margin-top: 80px;
    z-index: 10;
}

.img_kylo img {
    width: 100%;
    height: 100%;
}

@media(max-width: 1462px) {
    .img_kylo {
        width: 67%;
    }
}

@media (max-width: 1201px) {
    .img_kylo {
        height: 630px;
    }
}

@media(max-width: 1171px) {
    .img_kylo {
        height: 500px;
    }
}

@media (max-width: 1028px) {
    .img_kylo {
        width: 68%;
        height: 530px;
        margin-top: 80px;
    }
}
@media (max-width: 760px) {
    .img_kylo {
        height: 350px;
    }
}

@media (max-width: 549px) {
    .img_kylo {
        height: 300px;
        margin-top: 50px;
    }
}

/* Imagem Wars */

.img_wars {
    width: 360px;
    position: relative;
    left: 65%;
    margin-top: 90px;
}

.img_wars img {
    width: 100%;
}

@media (max-width: 1503px) {
    .img_wars {
        left: 69%;
    }
}

@media(max-width: 1171px) {
    .img_wars {
        width: 300px;
    }
}

@media (max-width: 1028px) {
    .img_wars {
        margin-top: 80px;
        left: 65%;
        width: 300px;
    }
}

@media (max-width: 860px) {
    .img_wars {
        width: 260px;
    }
}

@media (max-width: 760px) {
    .img_wars {
        width: 240px;
    }
}

@media (max-width: 700px) {
    .img_wars {
        width: 190px;
    }
}

@media (max-width: 549px) {
    .img_wars {
        width: 120px;
        margin-top: 60px;
        left: 68%;
    }
}

@media (max-width: 386px) {
    .img_wars {
        left: 65%;
    }
}

/* Imagem Legião */

.img_legiao {
    position: relative;
    left: -5%;
    width: 100px;
    align-self: flex-end;
    margin-bottom: 10px;
}

.img_legiao img {
    width: 100%;
}

@media (max-width: 1028px) {
    .img_legiao {
        width: 80px;
    }
}

@media (max-width: 860px) {
    .img_legiao {
        width: 60px;
    }
}

@media (max-width: 549px) {
    .img_legiao {
        position: absolute;
        left: 80%;
        top: 200px;
        margin-top: 0px;
    }
}

@media (max-width: 420px) {
    .img_legiao {
        top: 200px;
    }
}

/* Início da Main */

.background-1-main {
    background-image: url(imagens/bg_main.png);
    background-repeat: no-repeat;
    background-size: 40% 100%;
}

/* Sessão JOGAR */

.jogar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Imagem JOGAR */

.img_jogar {
    width: 285px;
    height: 450px;
    z-index: 11;
    position: relative;
    left: 5%;
    margin-top: -50px;
    background-image: url(imagens/comece_jogar.png);
    background-size: 100% 100%;
    text-align: center;
    padding: 10px;
}

.img_jogar h2 {
    margin-top: 50px;
    font-size: 3em;
}

.img_jogar p {
    margin-top: 50px;
    color: white;
    text-align: start;
}

.img_jogar button {
    background: none;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    padding: 10px 20px;
    margin-top: 50px;
    cursor: pointer;
}

@media (max-width: 1028px) {
    .img_jogar {
        width: 270px;
    }
}

@media (max-width: 860px) {
    .img_jogar {
        margin-top: 100px;
        width: 227px;
    }
}

@media (max-width: 549px) {
    .img_jogar {
        height: 320px;
        margin-top: 70px;
    }

    .img_jogar h2 {
        font-size: 2em;
        margin-top: 30px;
    }

    .img_jogar p {
        margin-top: 20px;
    }

    .img_jogar button {
        margin: 20px;
    }
}

/* Imagem SOBRE */

.img_sobre {
    width: 600px;
    align-self: flex-end;
}

.img_sobre img {
    width: 100%;
}

@media (max-width: 1028px) {
    .img_sobre {
        width: 550px;
    }
}

@media (max-width: 860px) {
    .img_sobre {
        display: none;
    }
}

/* Imagem SOBRE Vertical */

.img_sobre_vertical {
    display: none;
    margin-top: 20px;
}

@media (max-width: 860px) {
    .jogar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img_sobre_vertical {
        display: flex;
        width: 300px;
    }

    .img_sobre_vertical img {
        width: 100%;
    }
}

@media (max-width: 549px) {
    .img_sobre_vertical {
        width: 200px;
    }
}

/* Linha 1 */

.linha-1 {
    margin: 10px;
    width: 45%;
    position: relative;
    left: 25%;
}

.linha-1 img {
    width: 100%;
}

/* Configurações de Background Mobile */

@media (max-width: 860px) {
    .m-1 {
        background-image: url(imagens/bg_main.png);
        background-size: 50% 100%;
        background-repeat: no-repeat;
    }

    .m-2 {
        background-color: white;
    }

    main {
        background: none;
    }
}

/* Sessão Estrutura */

.estrutura {
    display: flex;
    justify-content: space-around;
}

/* Imagem SIFH */

.sifh {
    width: 500px;
    position: relative;
    left: 10%;
}

.sifh img {
    width: 100%;
}

@media (max-width: 700px) {
    .sifh {
        left: 2%;
    }
}

/* ESTRUTURA */

.img_estrutura {
    width: 330px;
    position: relative;
    left: -10%;
    margin-top: 20px;
}

.img_estrutura h2 {
    color: black;
    font-weight: 100;
    font-size: 2em;
    text-align: right;
}

.img_estrutura li {
    text-align: right;
    margin-top: 10px;
    padding: 5px;
}

.img_estrutura li:hover {
    background-color: red;
    color: white;
}

@media (max-width: 891px) {
    .img_estrutura {
        width: 250px;
    }

    .img_estrutura h2 {
        font-size: 1.5em;
    }

    .img_estrutura li {
        font-size: 0.8em;
    }
}

@media (max-width: 860px) {
    .img_estrutura {
        width: 200px;
    }

    .img_estrutura h2 {
        margin: 0;
    }

    .img_estrutura li {
        padding: 0px;
    }
}

@media (max-width: 640px) {
    .img_estrutura h2 {
        font-size: 1em;
    }

    .img_estrutura li {
        font-size: 0.7em;
    }
}

/* Imagem REY */

.img_rey {
    width: 250px;
    position: relative;
    right: 10%
}

.img_rey img {
    width: 100%;
}

@media (max-width: 700px) {
    .img_rey {
        right: 2%;
    }
}

/* Sessão Atributos */

.m-3 {
    background-color: rgb(60, 59, 59);
    width: 100%;
    padding: 40px;
    padding-bottom: 300px;
}

h2 {
    color: white;
    margin-top: 80px;
    align-self: right;
}

.atributos {
    margin-top: 40px;
    width: 100%;
    margin-bottom: 20px;
    padding: 30px;
    display: flex;
}

.imagem_maior {
    width: 650px;
    height: 370px;
}

.imagens_menores {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1431px) {
    .atributos {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

/* Primeira imagem */

.img_atributo_1 {
    width: 650px;
    height: 370px;
    background-image: url(imagens/img_atributo_1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.img_1_atr {
    display: block;
    width: 650px;
    height: 370px;
}

.oculto_1 {
    position: absolute;
    width: 650px;
    height: 370px;
    opacity: 0;
    transition: 0.5s;
    background-color: rgb(154, 42, 42);
    padding: 50px;
}

.oculto_1 h3 {
    color: white;
}

.oculto_1 p {
    color: white;
}

.oculto_1 button {
    background: none;
    color: white;
    border: 2px solid white;
    margin-top: 25%;
    padding: 10px;
    cursor: pointer;
}

.oculto_1:hover {
    opacity: 0.7;
}

@media (max-width: 1431px)  {
    .imagem_maior {
        width: 640px;
    }

    .img_atributo_1 {
        width: 640px;
    }

    .oculto_1 {
        width: 640px;
    }

    .imagens_menores {
        width: 640px;
    }
}


/* Segunda Imagem */

.img_atributo_2 {
    position: relative;
    width: 320px;
    height: 185px;
    display: flex;
    background-image: url(imagens/img_atributo_2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.img_2_atr {
    width: 100%;
    height: auto;
}

.oculto_2 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    background-color: rgb(154, 42, 42);
    padding: 10px;
}

.oculto_2 h3 {
    color: white;
}

.oculto_2 p {
    color: white;
}

.oculto_2 button {
    background: none;
    color: white;
    border: 2px solid white;
    margin-top: 5%;
    padding: 10px;
    cursor: pointer;
}

.oculto_2:hover {
    opacity: 0.7;
    border: 2px solid white;
}

/* Terceira Imagem */

.img_atributo_3 {
    position: relative;
    width: 320px;
    height: 185px;
    display: flex;
    background-image: url(imagens/img_atributo_3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.img_3_atr {
    width: 100%;
    height: auto;
}

.oculto_3 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    background-color: rgb(154, 42, 42);
    padding: 10px;
}

.oculto_3 h3 {
    color: white;
}

.oculto_3 p {
    color: white;
}

.oculto_3 button {
    background: none;
    color: white;
    border: 2px solid white;
    margin-top: 5%;
    padding: 10px;
    cursor: pointer;
}

.oculto_3:hover {
    opacity: 0.7;
    border: 2px solid white;
}


/* Quarta Imagem */

.img_atributo_4 {
    position: relative;
    width: 320px;
    height: 185px;
    display: flex;
    background-image: url(imagens/img_atributo_4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.img_4_atr {
    width: 100%;
    height: auto;
}

.oculto_4 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    background-color: rgb(154, 42, 42);
    padding: 10px;
}

.oculto_4 h3 {
    color: white;
}

.oculto_4 p {
    color: white;
}

.oculto_4 button {
    background: none;
    color: white;
    border: 2px solid white;
    margin-top: 5%;
    padding: 10px;
    cursor: pointer;
}

.oculto_4:hover {
    opacity: 0.7;
    border: 2px solid white;
}


/* Quinta Imagem */

.img_atributo_5 {
    position: relative;
    width: 320px;
    height: 185px;
    display: flex;
    background-image: url(imagens/img_atributo_5.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.img_5_atr {
    width: 100%;
    height: auto;
}

.oculto_5 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    background-color: rgb(154, 42, 42);
    padding: 10px;
}

.oculto_5 h3 {
    color: white;
}

.oculto_5 p {
    color: white;
}

.oculto_5 button {
    background: none;
    color: white;
    border: 2px solid white;
    margin-top: 5%;
    padding: 10px;
    cursor: pointer;
}

.oculto_5:hover {
    opacity: 0.7;
    border: 2px solid white;
}

/* Atributos MOBILE */


@media (max-width: 880px) {
    .atributos {
        display: block;
    }

    .imagem_maior {
        width: 420px;
        height: 235px;
    }

    .imagens_menores {
        display: block;
    }

    .img_atributo_1 {
        width: 420px;
        height: 235px;
    }

    .img_1_atr {
        width: 420px;
        height: 235px;
    }

    .oculto_1 {
        position: absolute;
        width: 420px;
        height: 235px;
        opacity: 0;
        transition: 0.5s;
        background-color: rgb(154, 42, 42);
        padding: 10px;
        border: 2px solid white;
    }

    .img_atributo_2 {
        width: 420px;
        height: 235px;
    }

    .oculto_2 button {
        background: none;
        color: white;
        border: 2px solid white;
        margin-top: 25%;
        padding: 10px;
        cursor: pointer;
    }

    .img_atributo_3 {
        width: 420px;
        height: 235px;
    }

    .oculto_3 button {
        background: none;
        color: white;
        border: 2px solid white;
        margin-top: 25%;
        padding: 10px;
        cursor: pointer;
    }

    .img_atributo_4 {
        width: 420px;
        height: 235px;
    }

    .oculto_4 button {
        background: none;
        color: white;
        border: 2px solid white;
        margin-top: 25%;
        padding: 10px;
        cursor: pointer;
    }

    .img_atributo_5 {
        width: 420px;
        height: 235px;
    }

    .oculto_5 button {
        background: none;
        color: white;
        border: 2px solid white;
        margin-top: 25%;
        padding: 10px;
        cursor: pointer;
    }
}

@media (max-width: 549px) {
    .imagem_maior {
        width: 400px;
    }

    .img_atributo_1 {
        width: 100%;
    }

    .img_1_atr {
        width: 100%;
        height: auto;
    }

    .img_atributo_1 button {
        margin-top: 5%;
    }

    .img_atributo_2 {
        width: 400px;
    }

    .img_atributo_2 button {
        margin-top: 5%;
    }

    .img_atributo_3 {
        width: 400px;
    }

    .img_atributo_3 button {
        margin-top: 5%;
    }

    .img_atributo_4 {
        width: 400px;
    }

    .img_atributo_4 button {
        margin-top: 5%;
    }

    .img_atributo_5 {
        width: 400px;
    }

    .img_atributo_5 button {
        margin-top: 5%;
    }
}

@media (max-width: 446px) {

    .imagem_maior {
        height: 180px;
    }

    .img_atributo_1 {
        height: 180px;
    }

    .oculto_1 {
        height: 180px;
    }

    .img_atributo_2 {
        height: 180px;;
    }

    .img_atributo_3 {
        height: 180px;
    }

    .img_atributo_4 {
        height: 180px;
    }

    .img_atributo_5 {
        height: 180px;;
    }
}

/* Hierarquia */

.hierarquia {
    width: 95%;
    position: relative;
    left: 2%;
    text-align: right;
}

.hierarquia img {
    width: 100%;
}

figcaption {
    width: 50%;
    color: white;
    text-align: right;
    position: relative;
    left: 50%;
    font-weight: 100;
}

/* Quarta parte da MAIN */
.titulo_2 {
    margin-top: 100px;
    margin-bottom: -150px;
    text-align: center;
}

.titulo_2 h2 {
    font-size: 3em;
}

@media (max-width: 669px) {
    .titulo_2 {
        margin-bottom: -250px;
    }
}

.m-4 {
    width: 100%;
    text-align: center;
}

@media (max-width: 974px) {
    .m-4 h2 {
        font-size: 2.5em;
    }
}

.final_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.storm_trooper {
    width: 400px;
    margin-top: -260px;
    margin-right: 40px;
    height: auto;
}

.storm_trooper img {
    width: 100%;
    height: 100%;
}

@media (max-width: 974px) {
    .storm_trooper{
        width: 400px;
    }
}

@media (max-width: 669px) {
    .storm_trooper {
        margin-top: 0;
    }
}

.imgs_main_final {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Passos */

.passo_1 {
    width: 200px;
}

.passo_1 h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: 3em;
}

.passo_1 button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    transition: 0.5s ease;
    margin-bottom: 20px;
    cursor: pointer;
}

.passo_1 button:hover{
    background:rgb(154, 42, 42);
}

.passo_1 p {
    margin: 0;
}

.passo_2 {
    width: 200px;
}

.passo_2 h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: 3em;
}

.passo_2 button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.passo_2 button:hover{
    background:rgb(154, 42, 42);
}

.passo_2 p {
    margin-top: 20px;
}

.passo_3 {
    width: 200px;
}

.passo_3 h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: 3em;
}

.passo_3 button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    transition: 0.5s ease;
    margin-bottom: 20px;
    cursor: pointer;
}

.passo_3 button:hover {
    background:rgb(154, 42, 42);
}

.passo_3 p {
    margin: 0;
}

/* Início FOOTER (finalmente MDS) */
footer {
    display: flex;
}

.app {
    background-color: #FF5A56;
    color: white;
    width: 65%;
    padding: 100px;
}

@media (max-width: 883px) {
    .app {
        padding: 50px;
    }
}

.app h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 3em;
}

@media (max-width: 883px) {
    .app h2 {
        font-size: 2.5em;
    }
}

.app p {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.link_apps {
    display: flex;
}

.link_apps img {
    width: 200px;
}

@media (max-width: 883px) {
    .link_apps img {
        width: 150px;
    }
}

@media (max-width: 367px) {
    .link_apps img {
        width: 120px;
    }
}

.g_play {
    cursor: pointer;
    margin-right: 10px;
}

.app_s {
    cursor: pointer;
}

.linha_footer {
    width: 100%;
    height: 1px;
    border: 2px solid #D74430;
    background-color: #D74430;
    margin: 20px;
}

@media (max-width: 883px) {
    .linha_footer {
        width: 90%;
    }
}

@media(max-width: 883px) {
    .final_footer img {
        width: 200px;
    }
}

.darth_vader {
    width: 40%;
    position: relative;
    left: -12%;
    margin-top: -5%;
}

.darth_vader img {
    width: 100%;
}

/* Responsividade da FOOTER */

@media (max-width: 880px) {
    .app {
        width: 100%
    }

    footer {
        display: block;
    }

    .darth_vader {
        left: 40%;
        margin-top: -80px;
    }
}