/* Configurações Globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração da Header */

header {
    width: 100%;
    background-image: url(imagens/header_img.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1201px){
    header {
        height: 500px;
    }
}

@media (max-width: 1201px){
    header {
        height: 400px;
    }
}

/* Imagem Star */

.img_star {
    width: 430px;
    position: relative;
    left: 25%;
    margin-top: 120px;
}

.img_star img {
    width: 100%
}

@media (max-width: 1028px){
    .img_star{
        margin-top: 80px;
    }
}

/* Imagem Kylo */

.img_kylo {
    width: 1850px;
    height: 730px;
    position: relative;
    right: 5%;
    margin-top: 120px;
    z-index: 10;
}

.img_kylo img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1201px){
    .img_kylo {
        height: 630px;
    }
}

@media (max-width: 1028px){
    .img_kylo {
        height: 530px;
        margin-top: 80px;
    }
}

/* Imagem Wars */

.img_wars {
    width: 460px;
    position: relative;
    right: 18%;
    margin-top: 120px;
}

.img_wars img {
    width: 100%;
}

@media (max-width: 1028px){
    .img_wars {
        margin-top: 80px;
    }
}

/* Imagem Legião */

.img_legiao {
    position: relative;
    right: 20%;
    width: 200px;
    align-self: flex-end;
    margin-bottom: 10px;
}

.img_legiao img {
    width: 100%;
}

@media (max-width: 1028px){
    
}

/* Início da Main */