/* Configurações Globais */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Configuração da Header */

header {
    width: 100%;
    background-image: url(imagens/header_img.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1201px){
    header {
        height: 500px;
    }
}

@media (max-width: 1201px){
    header {
        height: 400px;
    }
}

/* Imagem Star */

.img_star {
    width: 530px;
    position: relative;
    left: 22%;
    margin-top: 120px;
}

.img_star img {
    width: 100%
}

@media (max-width: 1028px){
    .img_star{
        margin-top: 80px;
    }
}

/* Imagem Kylo */

.img_kylo {
    width: 2850px;
    height: 730px;
    position: relative;
    right: 2%;
    margin-top: 120px;
    z-index: 10;
}

.img_kylo img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1201px){
    .img_kylo {
        height: 630px;
    }
}

@media (max-width: 1028px){
    .img_kylo {
        height: 530px;
        margin-top: 80px;
    }
}

/* Imagem Wars */

.img_wars {
    width: 560px;
    position: relative;
    right: 15%;
    margin-top: 120px;
}

.img_wars img {
    width: 100%;
}

@media (max-width: 1028px){
    .img_wars {
        margin-top: 80px;
    }
}

/* Imagem Legião */

.img_legiao {
    position: relative;
    right: 17%;
    width: 200px;
    align-self: flex-end;
    margin-bottom: 10px;
}

.img_legiao img {
    width: 100%;
}

@media (max-width: 1028px){
    
}

/* Início da Main */

main {
    background-image: url(/imagens/bg_main.png);
    background-repeat: no-repeat;
    background-size: 50% 100%;
}

/* Sessão JOGAR */

.jogar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Imagem JOGAR */

.img_jogar {
    width: 300px;
    z-index: 11;
    position: relative;
    left: 5%;
    margin-top: -50px;
    
}

.img_jogar img {
    width: 100%;
}

@media (max-width: 1028px){
    .img_jogar {
        width: 270px;
    }
}

@media (max-width: 860px){
    .img_jogar {
        margin-top: 100px;
        width: 227px;
    }
}

/* Imagem SOBRE */

.img_sobre {
    width: 600px;
    align-self: flex-end;
}

.img_sobre img {
    width: 100%;
}

@media (max-width: 1028px){
    .img_sobre{
        width: 550px;
    }
}

@media (max-width: 860px) {
    .img_sobre {
        display: none;
    }
}

/* Imagem SOBRE Vertical */

.img_sobre_vertical {
    display: none;
}

@media (max-width: 860px) {
    .jogar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img_sobre_vertical {
        display: flex;
        width: 300px;
    }

    .img_sobre_vertical img {
        width: 100%;
    }
}

/* Linha 1 */

.linha-1 {
    margin: 10px;
    width: 45%;
    position: relative;
    left: 25%;
}

.linha-1 img {
    width: 100%;
}

/* Configurações de Background Mobile */

@media (max-width: 860px) {
    .m-1 {
        background-image: url(/imagens/bg_main.png);
        background-size: 50% 100%;
        background-repeat: no-repeat;
    }
    .m-2 {
        background-color: white;
    }
}

/* Sessão Estrutura */

.estrutura {
    display: flex;
    justify-content: space-around;
}

/* Imagem SIFH */

.sifh {
    width: 500px;
}

.sifh img {
    width: 100%;
}

/* Imagem ESTRUTURA */

.img_estrutura {
    width: 300px;
    position: relative;
    left: -10%;
}

.img_estrutura img {
    width: 100%;
}

/* Imagem REY */

.img_rey {
    width: 250px;
}

.img_rey img {
    width: 100%;
}

/* Sessão Atributos */

.m3 {
    background-image: url(/imagens/bg_m3.png);
    width: 100%;
}

h2 {
    color: white;
}